@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}
.sidebar {
  /* background-color: red; */
  background-color: rgb(241, 236, 236);
  /* width: 430px; */
  position: absolute;
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
  transition: transform 0.4s ease-in;
}

.sidebar nav {
  padding: 62px;
}
.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 25.4px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main {
  /* background-color: yellow; */
  width: 80vw;
}

.container {
  display: flex;
  /* background-color: aliceblue; */
}

.background{
  background-color: rgb(198, 223, 240);
}
.back{
  background-color: rgb(161, 160, 159);
}

.infoContainer {
  /* background-color: rgb(199, 69, 123); */
  height: 55vh;
  width: 65vw;
  margin-left: 280px;
  margin-top: 88px;
  /* margin: 90px auto; */
  justify-content: space-around;
  display: flex;
}

.homepage button{
  width: 80px;
  height: 30px;
  border: none;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
}
.homepage button:hover{
  background-color: rgb(189, 199, 199);
}
.homepage button a{
  text-decoration: none;
}
.devInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hello {
  font-size: 50px;
}
.name {
  font-size: 40px;
  font-weight: bold;
}

.about {
  font-size: 30px;
}
.buttons {
  /* padding:  30px; */
  margin-top: 30px;
  /* border: 2px solid black; */
  /* border-radius: 20px; */
}

.buttons button {
  border-radius: 20px;
  padding: 10px;
  color: azure;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(11, 133, 155);
  cursor: pointer;
  margin: 0 3px;
}

.buttons button:hover{
    background-color: rgb(221, 238, 238);
    color: rgb(11, 133, 155);
    
}
.buttons button a{
  text-decoration: none;
}
.informationbutton{
  background-color: rgb(195, 247, 247);
  border: none;
  cursor: pointer;
  text-decoration: none;

}
.informationbutton a{
  text-decoration: none;
}
.informationbutton:hover{
  background-color: rgb(167, 236, 236);
}
.backbutton a{
  background-color: aquamarine;
}

.moreabout {
  font-size: 17px;
  font-style: inherit;
  margin-top: 20px;
}

.devPics img {
  /* height: 370px; */
  height: 55vh;

  /* width: 350px; */
}



.contactform{
  font-family: "Fira Sans", sans-serif;
  /* padding-top: 10px; */
  /* padding: 0 4px; */
  margin: 0 288px;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: aqua; */


}

.contactform h1{
  padding-top:100px;

}
.contactform form div{
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.contactform form div input{
  width: 26vw;
  
  border-radius: 10px;
  /* border: 2px solid rgb(37, 37, 37); */
    margin: 6px 0 0 0;
  padding: 3px
}

#emailHelp{
  font-size: 12px;
  color: midnightblue;
  margin: 0 5px;
}



#form-check{
  flex-direction: row;
}
#form-check input{
  width: 20px;
  margin: 3px 0;

}
.btn{
  width: 60px;
}

.submit{
  border: 2px solid black;
  border-radius: 10px;
  padding: 4px;
  font-size: bold;
  background-color: rgb(71, 114, 194);
  font-size: 12px;
  cursor: pointer;
  color: aliceblue;
}
.submit:hover{
  background-color: rgb(8, 113, 145);
}

.blogItem{
  margin: 20px;
  margin-left: 288px;
  list-style: none;
  font-family: sans-serif;
  text-decoration: none;
  /* padding: 20px; */
}
.blogItem h1{
  font-family: sans-serif;


}
.blogcontainer h1{
margin:0 288px;
}

.blogItem p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.btn-sm{
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  list-style: none;
  

}

.btn-sm:hover{
  background-color: rgb(197, 195, 193);
}

.intro h2{
  font-family: 'Times New Roman', Times, serif;
  margin:  12px;
  font-size: 30px;


}

.intro p{
  font-family: 'Times New Roman', Times, serif;
  margin: 12px;
  font-size: 20px;
}
.intro{
  margin-left:  288px;
  margin-top: 50px;
}

.skill{
  width: 253px;
  height: 13px;
  background-color: rgb(193, 178, 218);
}
.skillItem{
  display: flex;
  align-items: center;
}
.skillcontainer{
  padding: 12px;
}
.hundred{
  width: 265px;
  background-color: aqua;
}
.fifty{
  width: 250px;
  background-color: rgb(34, 34, 158);
}
.eighty{
  width: 240px; 
  background-color: brown;

}
.nintyfive{
  width: 259px;
  background-color: rgb(80, 17, 33);
}
.ninty{
  width: 240px;
  background-color: cornflowerblue;
}

.sidebarGo{
  transform: translate(-443px,0px);
    position: absolute;

}

.hamburger{
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
  /* margin-top: 6px; */

}

.ham{
  margin-left: 10px;
  margin-top: 10px;
}

.cross{
  margin-left: 220px;
  margin-top: 6px;
}

@media (max-width:1215px){
  
  /* .sidebar{
    transform: translate(-443px,0px);
    position: absolute;
  } */
  .devPics{
    display: none;
  }
}


.navbar a{
  font-size: larger;
}

.serviceh{
  margin-left: 120px ;
  margin-right: 120px;
  margin-bottom: 50px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin-top: 20px; 
}

.boot h4{
  font-size: 45px;
  margin-left: 80px;
  margin-bottom: 0px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.boot img{
  width: 450px;
  margin-left: 390px;
  /* justify-content: center; */
  /* align-items: center; */
}

.boot p{
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}